<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PoGoNecroBotTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PoGoNecroBotTools.Properties.Settings>
            <setting name="DefaultDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="NecroBotExeName" serializeAs="String">
                <value>NecroBot.exe</value>
            </setting>
            <setting name="NecroBotConfigFileName" serializeAs="String">
                <value>config.json</value>
            </setting>
            <setting name="DefaultLatitudeName" serializeAs="String">
                <value>DefaultLatitude</value>
            </setting>
            <setting name="DefaultLongitudeName" serializeAs="String">
                <value>DefaultLongitude</value>
            </setting>
            <setting name="NecroBotConfigDirectoryName" serializeAs="String">
                <value>Config</value>
            </setting>
            <setting name="NecroBotAuthFileName" serializeAs="String">
                <value>auth.json</value>
            </setting>
            <setting name="NecroBotLogsDirectoryName" serializeAs="String">
                <value>Logs</value>
            </setting>
            <setting name="NecroBotReleaseFileExtension" serializeAs="String">
                <value>NecroBot Release file (*.zip)|*.zip</value>
            </setting>
            <setting name="NecroBotDumpsDirectoryName" serializeAs="String">
                <value>Dumps</value>
            </setting>
            <setting name="NecroBotPokeBagStatsFileName" serializeAs="String">
                <value>NecroBot-PokeBagStats</value>
            </setting>
            <setting name="DumpName" serializeAs="String">
                <value>NAME:</value>
            </setting>
            <setting name="DumpLevel" serializeAs="String">
                <value>Lvl:</value>
            </setting>
            <setting name="DumpCp" serializeAs="String">
                <value>CP:</value>
            </setting>
            <setting name="DumpIv" serializeAs="String">
                <value>IV:</value>
            </setting>
            <setting name="DumpNameOrder" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DumpLevelOrder" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DumpCpOrder" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DumpIvOrder" serializeAs="String">
                <value>3</value>
            </setting>
        </PoGoNecroBotTools.Properties.Settings>
    </userSettings>
</configuration>